@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
@section MetaTags{
    <meta name="robots" content="noindex, nofollow" />
}
<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
