@page
@model Site.Areas_Admin_Pages.BlogDetailModel
@{
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        افزودن
                        <i class="fa fa-save"></i>
                    </h3>
                </div>
                <form action="">
                    <div class="box-body">
                    </div>
                </form>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">
                        ارسال
                        <i class="fa fa-save"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
