@page
@model Site.Areas_Admin_Pages.BlogsModel
@{
}

@section Styles{
<link rel="stylesheet" type="text/css" href="~/Admin/Lib/datatables/datatables.min.css" />
}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">
                        <i class="fa fa-list"></i>
                        مقالات
                    </h3>
                    <div class="box-tools">
                        <a asp-area="Admin" asp-page="BlogDetail" target="_blank" class="btn btn-success">
                            افزودن
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
                
                <div class="box-body">
                    <table id="tbl" class="table">
                        <thead>
                            <th>کد</th>
                            <th>عنوان</th>
                            <th>دسته بندی</th>
                            <th>دسته بندی</th>
                            <th>وضعیت انتشار</th>
                            <th>تاریخ ایجاد</th>
                            <th>تاریخ ایجاد</th>
                            <th>تاریخ بروزرسانی</th>
                            <th>تاریخ بروزرسانی</th>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.AntiForgeryToken()

@section Scripts{
<script type="text/javascript" src="~/Admin/Lib/datatables/datatables.min.js"></script>
<script type="text/javascript" src="~/Admin/Lib/datatables/datatablesHelper.js"></script>
<script type="text/javascript" src="~/Admin/js/pages/Blogs.js"></script>
}