@page
@model Site.Areas_Admin_Pages.MenusModel
@{
    ViewData["Title"] = "مدیریت منو";
}
@section Styles{
<partial name="~/Areas/Admin/Pages/Shared/StaticRefrences/DataTableJs/_DataTblCss.cshtml" />
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">
                        @ViewData["Title"]
                        <i class="fa fa-list"></i>
                    </h3>
                    <div class="box-tools">
                        <button type="button" id="btnAddNew" class="btn btn-success">
                            افزودن
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>

                <div class="box-body">
                    <table id="tbl" class="table">
                        <thead>
                            <th>کد</th>
                            <th>اولویت نمایش</th>
                            <th>عنوان</th>
                            <th>آدرس</th>
                            <th>وضعیت انتشار</th>
                            <th>تاریخ ایجاد</th>
                            <th>تاریخ ایجاد</th>
                            <th>تاریخ بروزرسانی</th>
                            <th>تاریخ بروزرسانی</th>
                            <th>عملیات</th>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.AntiForgeryToken()

@section Scripts{
<partial name="~/Areas/Admin/Pages/Shared/StaticRefrences/DataTableJs/_DataTblJs.cshtml" />
<partial name="~/Areas/Admin/Pages/Shared/StaticRefrences/Sweetalert2/_Sweetalert2.cshtml" />
<script type="text/javascript" src="~/Admin/js/pages/Menus.js"></script>
<script>
    var pid = '@Model.PId'
</script>
}