@page
@model Site.Pages.BlogDetailModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid rounded shadow p-5">
    <div class="d-flex justify-content-center">
        <div class="col-md-12 d-flex justify-content-center">
            <h1>Title of page</h1>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="col-md-12 d-flex justify-content-center">
            <p>this is text</p>
        </div>
    </div>

    <div class="border-top mt-3 mb-3"></div>

    <div class="d-flex">
        <div class="col-md-12">
            <p>this is text</p>
            <p>this is text</p>
            <p>this is text</p>
            <p>this is text</p>
            <p>this is text</p>
        </div>
    </div>

    <div class="border-top mt-3 mb-3"></div>

    <div class="row">
        <div class="col-md-4">
            <div class="input-group mb-3">
                <a href="https://google.com" class="form-control bg-light">google.com</a>
                <span class="input-group-text btn btn-light border" id="basic-addon2">
                    <i class="bi bi-clipboard"></i>
                </span>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row gy-3 gy-md-0">
                <div class="col-md-2">
                    <span>کلمات کلیدی:</span>
                </div>
                <div class="col-md-10">
                    <span class="badge bg-light text-dark">
                        <a href="" title="" class="text-decoration-none text-dark">
                            Light
                        </a>
                    </span>
                    <span class="badge bg-light text-dark">
                        <a href="" title="" class="text-decoration-none text-dark">
                            Light
                        </a>
                    </span>
                    <span class="badge bg-light text-dark">
                        <a href="" title="" class="text-decoration-none text-dark">
                            Light
                        </a>
                    </span>
                    <span class="badge bg-light text-dark">
                        <a href="" title="" class="text-decoration-none text-dark">
                            Light
                        </a>
                    </span>
                    <span class="badge bg-light text-dark">
                        <a href="" title="" class="text-decoration-none text-dark">
                            Light
                        </a>
                    </span>
                    <span class="badge bg-light text-dark">
                        <a href="" title="" class="text-decoration-none text-dark">
                            Light
                        </a>
                    </span>
                    <span class="badge bg-light text-dark">
                        <a href="" title="" class="text-decoration-none text-dark">
                            Light
                        </a>
                    </span>
                    <span class="badge bg-light text-dark">
                        <a href="" title="" class="text-decoration-none text-dark">
                            Light
                        </a>
                    </span>
                    <span class="badge bg-light text-dark">
                        <a href="" title="" class="text-decoration-none text-dark">
                            Light
                        </a>
                    </span>
                    <span class="badge bg-light text-dark">
                        <a href="" title="" class="text-decoration-none text-dark">
                            Light
                        </a>
                    </span>
                    <span class="badge bg-light text-dark">
                        <a href="" title="" class="text-decoration-none text-dark">
                            Light
                        </a>
                    </span>
                    <span class="badge bg-light text-dark">
                        <a href="" title="" class="text-decoration-none text-dark">
                            Light
                        </a>
                    </span>
                    <span class="badge bg-light text-dark">
                        <a href="" title="" class="text-decoration-none text-dark">
                            Light
                        </a>
                    </span>
                    <span class="badge bg-light text-dark">
                        <a href="" title="" class="text-decoration-none text-dark">
                            Light
                        </a>
                    </span>
                    <span class="badge bg-light text-dark">
                        <a href="" title="" class="text-decoration-none text-dark">
                            Light
                        </a>
                    </span>
                    <span class="badge bg-light text-dark">
                        <a href="" title="" class="text-decoration-none text-dark">
                            Light
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-5">
    <div class="row gy-4">
        <div class="col-md-4">
            <h6>دسته بندی ها</h6>
            <div class="list-group">
                <a href="" title=""
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    A second item
                    <span class="badge bg-primary rounded-pill">14</span>
                </a>
                <a href="" title=""
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    A second item
                    <span class="badge bg-primary rounded-pill">14</span>
                </a>
                <a href="" title=""
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    A second item
                    <span class="badge bg-primary rounded-pill">14</span>
                </a>
                <a href="" title=""
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    A second item
                    <span class="badge bg-primary rounded-pill">14</span>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <h6>آخرین مقاله ها</h6>
            <div class="list-group">
                <a href="" title=""
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    A second item
                </a>
                <a href="" title=""
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    A second item
                </a>
                <a href="" title=""
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    A second item
                </a>
                <a href="" title=""
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    A second item
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <h6>مقالات پیشنهادی</h6>
            <div class="list-group">
                <a href="" title=""
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    A second item
                </a>
                <a href="" title=""
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    A second item
                </a>
                <a href="" title=""
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    A second item
                </a>
                <a href="" title=""
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    A second item
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <h6>مقالات مشابه</h6>
            <div class="list-group">
                <a href="" title=""
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    A second item
                </a>
                <a href="" title=""
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    A second item
                </a>
                <a href="" title=""
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    A second item
                </a>
                <a href="" title=""
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    A second item
                </a>
            </div>
        </div>
    </div>
</div>